body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv {
    width: 100%;
    height: 750px;
  }

  .guage_data {
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
    height: 150px;
  }

  .guage_heading {
    column-span: all;
  }

  .dash_col {
    border: 2px solid slategray;
    padding: 0em 1em;
    border-radius: 16px;
    line-height: 1;
    column-count: 3;
    column-gap: 20px;
    /* background-color: lightblue; */
  }
  .dash_1 {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  
  .dash_2 {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  
  .dash_3 {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  } 
  
  .featurette-image {
    width: 500px;
    height: 500px;
  }


